/* @font-face {
  font-family: Myriad Arabic;
  src: url('../public/Myriad\ Arabic\ Regular.ttf');
} */

* {
  margin: 0;
  /* font-family: Myriad Arabic; */
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
}
a:link {
  text-decoration: none;
}
